{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        {% comment %} body {
            margin: 0;
            background-color: #001488;
        }
    nav {
        padding: 1.5em;
        background-color: #002651;
        display: flex;
        justify-content: space-between
    }
    nav a {
        color: #fff;
        text-decoration: name;
        font-weight: bold
    } {% endcomment %}
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'stule.css' %}">
</head>
<body>
    {% include "news/navbar.html" %}



    {% block content%}
    {% endblock  %}
</body>
</html>









